@page
@using Academy.Classes

@model Academy.Pages.Admin.Subjects.IndexModel
@{
    ViewData["Title"] = "مدیریت درس ها";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-12 col-12">
        <div class="card shadow">
            <h5 class="card-header">افزودن درس</h5>
            <div class="card-body">
                <section class="card-text">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Subject.Id" />
                        <div class="row mb-3">
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="text" asp-for="Subject.Title" class="form-control" autocomplete="off"
                                       placeholder="عنوان" />
                                <span asp-validation-for="Subject.Title" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 ">
                                <div class="d-grid gap-2">

                                    <button class="btn btn-primary" type="submit">ثبت</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-12 mt-3">
        <div class="card shadow">
            <h5 class="card-header">لیست درس ها</h5>
            <div class="card-body">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Subject.Title)
                                </th>
                                <th>
                                    عملیات
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Subjects)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>
                                        <a class="btn btn-outline-primary btn-sm" asp-page="/Admin/PreSubjects/Index" asp-route-id="@item.Id">
                                            <i class="fa fa-list"></i>
                                            پیش نیازها
                                        </a>
                                        <a class="btn btn-outline-warning btn-sm" asp-page="/Admin/Subjects/Index" asp-route-id="@item.Id">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-outline-danger btn-sm" asp-page-handler="Delete" asp-route-id="@item.Id">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
